<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뿌요미들 임시 대화방</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="user-container">
            <label for="nickname">대화명</label>
            <input type="text" id="nickname">
            <a href="/chat" class="preview">이전 대화 보기</a>
            <input type="checkbox" class="chat-lock">
        </div>
        <div class="display-container">
            <ul class="chatting-list">
                <li class="sent">
                    <span class="profile">
                        <span class="user">기술뿌요미</span>
                    </span>
                    <span class="message">
                        스쉽, 푸슝 터졌을때 쓰는 대피소<br>
                        마지막 대화 내용 나오게 표시해놓음&nbsp;
                        <a href="https://spacesheep.co.kr/home/ask/a2d43f50-52dd-44d4-9e98-098df008679a">(스쉽가기)</a>&nbsp;
                        <a href="https://pushoong.com/ask/7481752065">(푸슝가기)</a>
                    </span>
                    <span class="time">3:30 AM</span>
                </li>
                    {% if chats %}
                        {% for chat in chats %}
                        <li class="received">
                            <span class="profile">
                                <span class="user">{{chat.name}}</span>
                            </span>
                            <span class="message">{{chat.msg}}</span>
                            <span class="time">{{chat.time}}</span>
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="input-container">
                <span>
                    <label role="button" class="send-image">
                        <form id="form-image" hidden>
                            <input class="input-image" type="file" accept="image/*" hidden>
                        </form>
                        이미지
                    </label>
                    <input type="text" class="chatting-input">
                    <button class="send-button">전송</button>
                </span>
            </div>
        </div>
        <script src="../socket.io/socket.io.js"></script>
        <script src="/js/chat.js"></script>
    </body>
</html>