<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>뿌요미 대피소</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!-- jQuery ContextMenu -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.css" integrity="sha512-EF5k2tHv4ShZB7zESroCVlbLaZq2n8t1i8mr32tgX0cyoHc3GfxuP7IoT8w/pD+vyoq7ye//qkFEqQao7Ofrag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.js" integrity="sha512-2ABKLSEpFs5+UK1Ol+CgAVuqwBCHBA0Im0w4oRCflK/n8PUVbSv5IY7WrKIxMynss9EKLVOn1HZ8U/H2ckimWg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <div class="wrapper">
      <input type="checkbox" class="chat-lock" />
      <input type="button" class="more-chat" value="U" />
      <input type="hidden" class="chat-id" value="{{id}}" />
      <div class="top-container">
        <div class="button-container">
          {% if user %}
          <a href="/admin/manage" class="manage">관리하기</a>
          {% endif %}
          <div class="info">ℹ️</div>
        </div>
        <div><h3>뿌요미 대피소</h3></div>
        <div class="moment">Ⓜ️</div>
      </div>
      <div class="display-container">
        <ul class="chatting-list">
          <li>
            <span class="message" style="background: yellow;">
              <a href="https://spacesheep.co.kr/home/ask/a2d43f50-52dd-44d4-9e98-098df008679a">(스쉽가기)</a>&nbsp;
            </span>
          </li>
          {% if chats %} {% for chat in chats %}
          <li class="msg-container">
            <span class="time">{{chat.time}}</span>
            {% if chat.msg %}
            <span class="message" id="{{chat.id}}">{{chat.msg | safe}}</span>
            {% else %}
            <span class="img-message"><img src="\{{chat.img}}" /></span>
            {% endif %}
          </li>
          {% endfor %} {% endif %}
        </ul>
      </div>
      <div class="footer-container">
        <textarea class="chatting-input" maxlength="255"></textarea>
        <div class="submit-container">
          <div class="file-upload">
            <label role="button" class="send-image">
              <form id="form-image" hidden>
                <input class="input-image" type="file" accept="image/*" hidden />
              </form>
              이미지
            </label>
          </div>
          <div class="send-button">
            채팅
          </div>
        </div>
      </div>
    </div>
    <script src="../socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/chat.js"></script>
  </body>
</html>
