<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>뿌요미 대피소</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  </head>
  <body>
    <div class="wrapper">
      <input type="checkbox" class="chat-lock" id="inpLock" />
      <div class="top-container">
        <div class="button-container">
          {% if user %}
          <a href="/admin/manage" class="manage">관리하기</a>
          {% endif %}
          <a href="/chat" class="preview">이전대화</a>
        </div>
        <div><h3>뿌요미 대피소</h3></div>
        <div class="info">ℹ️</div>
      </div>
      <div class="display-container">
        <ul class="chatting-list">
          <li>
            <span class="message" style="background: yellow;">
              <a href="https://spacesheep.co.kr/home/ask/a2d43f50-52dd-44d4-9e98-098df008679a">(스쉽가기)</a>&nbsp;
            </span>
          </li>
          {% if chats %} {% for chat in chats %}
          <li>
            <span class="time">{{chat.time}}</span>
            {% if chat.msg %}
            <span class="message">{{chat.msg | safe}}</span>
            {% else %}
            <span class="img-message"><img src="\{{chat.img}}" /></span>
            {% endif %}
          </li>
          {% endfor %} {% endif %}
        </ul>
      </div>
      <div class="footer-container">
        <textarea class="chatting-input" maxlength="255"></textarea>
        <div class="submit-container">
          <div class="file-upload">
            <label role="button" class="send-image">
              <form id="form-image" hidden>
                <input class="input-image" type="file" accept="image/*" hidden />
              </form>
              이미지
            </label>
          </div>
          <div class="send-button">
            채팅
          </div>
        </div>
      </div>
    </div>
    <script src="../socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/chat.js"></script>
  </body>
</html>
