<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>뿌요미 대피소</title>
    <link rel="stylesheet" href="/css/moment.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="top-container">
        <div class="button-container">
        <a href="/" class="back">⬅️</a>
          {% if user %}
          <a href="/admin/manage" class="manage">관리하기</a>
          {% endif %}
        </div>
        <div class="info">ℹ️</div>
      </div>
      <div class="display-container">
        <ul class="chatting-list">
          {% if chats %} {% for chat in chats %}
          <li class="msg-container">
            <span class="time">{{chat.time}}</span>
            {% if chat.msg %}
            <span class="message" id="{{chat.id}}">{{chat.msg | safe}}</span>
            {% else %}
            <span class="img-message" id="{{chat.id}}"><img src="\{{chat.img}}" /></span>
            {% endif %}
          </li>
          {% endfor %} {% endif %}
        </ul>
      </div>
    </div>
    <script src="/js/moment.js"></script>
  </body>
</html>
